/* Navbar Background */
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #0f172a, #1e293b);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

/* Container */
.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 22px 60px;   /* 👈 Top Bottom Padding Increased */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Section */
.nav-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-left img {
  width: 58px;   /* 👈 Bigger Logo */
  height: 58px;
  object-fit: contain;
}

/* Brand Text */
.brand {
  font-size: 20px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
}

.gradient-text {
  background: linear-gradient(90deg, #38bdf8, #22d3ee, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Center Links */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

/* Hover Underline */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: #38bdf8;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Right Button */
.menu-btn {
  background: linear-gradient(90deg, #38bdf8, #22d3ee);
  color: #0f172a;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(56, 189, 248, 0.4);
}

/* Responsive */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}


@keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}